<section class="section pagegrey">
    <div class="container">
        <div class="title-area text-center">
            <h2>Update Profile <small>Show your existance to the world.</small></h2>
            <div class="bread">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Edit Account</li>
                </ol>
            </div><!-- end bread -->
        </div><!-- /.pull-right -->
    </div><!-- end container -->
</section>

<section class="section">
    <div class="container">
        <div class="content">
            <div class="col-md-12 col-sm-12">
                <div class="row">
                    <h2>Update Profile</h2>

                  <%= form_for @update, html: { multipart: true } do |f| %>
  <% if @update.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@update.errors.count, "error")} prohibited this update from being saved:" %>
      </h2>
      <ul>
        <% @update.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :user_name %>
    <%= f.text_field :user_name %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.text_field :image %>
  </div>

<div class="form-group">
    <%= f.label :age %>
    <%= f.text_field :age %>
  </div>

  <div class="form-group">
      <%= f.label :Gender %>
      Male<%= f.radio_button :Gender, 'Male' %>
      Female<%= f.radio_button :Gender, 'Female' %>
  </div>

  <div class="form-group">
    <%= f.label :company %>
    <%= f.file_field :company %>
  </div>

  <div class="form-group">
    <%= f.label :location %>
    <%= f.file_field :location%>
  </div>

  <div class="form-group">
    <%= f.label :phone %>
    <%= f.file_field :phone%>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.file_field :description%>
  </div>

  <div class="form-group">
    <%= f.label :website %>
    <%= f.file_field :website%>
  </div>

  <div class="form-group">
        <%= f.submit 'Upload update' %>
    </div>
<% end %>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <hr class="largehr">
    </div>
</section>