<br />
<section class="section nopad single-wrap firstsection">
    <div class="absolutetitle">
            <div class="row">
                <li class="dropdown megamenu yamm-half hovermenu">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Market <b class="fa fa-angle-down"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="box">
                                            <h5>Market Categories</h5>
                                            <ul>
                                                <li><%= link_to "Projects", new_proj_path %></li>
                                                <li><%= link_to "Themes_&_Templates", new_theme_path %></li>
                                                <li><%= link_to "MobleApps", new_mobapp_path %></li>
                                                <li><%= link_to "WebAPI's", new_webapi_path %></li>
                                                <li><%= link_to "Icons,Logos_&_Fonts", new_icon_path %></li>
                                                <li><%= link_to "3DModels_&_CGTextures", new_texture_path %></li>
                                                <li><%= link_to "Stock_Photos_&_Gif's", new_photo_path %></li>
                                                <li><%= link_to "Scripts_&_Plugins", new_script_path %></li>
                                                <li><%= link_to "More", new_more_path%></li>
                                            </ul>
                                        </div><!-- end box -->
                                    </div><!-- end col -->
                                </div>
                            </div><!-- end ttmenu-content -->
                        </li>
                    </ul>
                </li>
            </div><!-- end row -->
        </div><!-- end content -->
</section>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />