<!DOCTYPE html>
<html>
  <head>

    <title>Project</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- SITE META -->
    <title>Catalog | Responsive Marketplace Showcase Template</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">


    <!-- FAVICONS -->
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-touch-icon-152x152.png">

    <!-- TEMPLATE STYLES -->
    <link rel="stylesheet" type="text/css" href="/assets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">

    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="/assets/prettyPhoto.css">
    <link rel="stylesheet" type="text/css" href="/assets/animate.css">
    <link rel="stylesheet" type="text/css" href="/assets/responsive.css">
    <link rel="stylesheet" type="text/css" href="/assets/custom.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/assets/modernizr.custom.26633.js"></script>
 <script src="/assets/application.js"></script>
  </head>

  <body>

<header class="header">
            <div class="container-menu">
                <nav class="navbar navbar-default yamm">
                    <div class="container-fluid">
                        <div class="navbar-table">
                            <div class="navbar-cell">
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="index.html"><i class="fa fa-camera-retro"></i> Catalog</a>
                                    <div class="open-menu">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="fa fa-bars"></span>
                                        </button>
                                    </div>
                                </div><!-- end navbar-header -->
                            </div><!-- end navbar-cell -->
                            <div class="navbar-cell stretch">
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                                    <div class="navbar-cell">
                                        <ul class="nav navbar-nav navbar-center">
                                            <li><a class="active" href="index.html" title="">Home</a></li>
                                            <li class="dropdown megamenu yamm-half hovermenu"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Features <b class="fa fa-angle-down"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                    <div class="yamm-content">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-6">
                                                                <div class="box">
                                                                    <ul>
                                                                        <li><a href="shop-four.html">Shop 4 Columns</a></li>
                                                                        <li><a href="shop-three.html">Shop 3 Columns</a></li>
                                                                        <li><a href="shop-two.html">Shop 2 Columns</a></li>
                                                                        <li><a href="shop-infinite.html">Shop Infinite</a></li>
                                                                        <li><a href="shop-filterable.html">Shop Filterable</a></li>
                                                                        <li><a href="single-item.html">Shop Details (Single Item)</a></li>
                                                                        <li><a href="shop-checkout.html">Shop Checkout</a></li>
                                                                        <li><a href="shop-favorites.html">Shop Favorites</a></li>
                                                                    </ul>
                                                                </div><!-- end box -->
                                                            </div><!-- end col -->
                                                            <div class="col-md-4 col-sm-6">
                                                                <div class="box">
                                                                    <ul>
                                                                        <li><a href="stores.html">All Stores</a></li>
                                                                        <li><a href="about.html">About Us</a></li>
                                                                        <li><a href="contact.html">Contact Us</a></li>
                                                                        <li><a href="services.html">Custom Services</a></li>
                                                                        <li><a href="pricing.html">Pricing & Plan</a></li>
                                                                        <li><a href="search.html">Search Results</a></li>
                                                                        <li><a href="maintenance.html">Maintenance Mode</a></li>
                                                                        <li><a href="page.html">Page Sidebar</a></li>
                                                                    </ul>
                                                                </div><!-- end box -->
                                                            </div><!-- end col -->
                                                            <div class="col-md-4 col-sm-6">
                                                                <div class="box">
                                                                    <ul>
                                                                        <li><a href="page-fullwidth.html">Page Fullwidth</a></li>
                                                                        <li><a href="page-404.html">404 - Not Found</a></li>
                                                                        <li><a href="elements.html">All Elements</a></li>
                                                                        <li><a href="login.html">Login & Register</a></li>
                                                                        <li><a href="faqs.html">FAQS & Support</a></li>
                                                                        <li><a href="single-forum.html">Single Forum</a></li>
                                                                        <li><a href="single.html">Single Blog</a></li>
                                                                        <li><a href="bundle.html">Bundle (Landing Page)</a></li>
                                                                    </ul>
                                                                </div><!-- end box -->
                                                            </div><!-- end col -->
                                                        </div>
                                                    </div><!-- end ttmenu-content -->
                                                    </li>
                                                </ul>
                                            </li><!-- end mega menu -->
                                            <li class="dropdown megamenu yamm-half hovermenu"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Market <b class="fa fa-angle-down"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                    <div class="yamm-content">
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-6">
                                                                <div class="box">
                                                                    <h5>Market Categories</h5>
                                                                    <ul>
                                                                        <li><a href="category.html">Stock Photos</a></li>
                                                                        <li><a href="category.html">Illustrator</a></li>
                                                                        <li><a href="category.html">Video Intros</a></li>
                                                                        <li><a href="category.html">Audio Files</a></li>
                                                                        <li><a href="category.html">Landscape</a></li>
                                                                        <li><a href="category.html">Footage</a></li>
                                                                        <li><a href="category.html">Edutorial</a></li>
                                                                    </ul>
                                                                </div><!-- end box -->
                                                            </div><!-- end col -->
                                                            <div class="col-md-6 col-sm-6">
                                                                <div class="box">
                                                                    <h5>User Profile</h5>
                                                                    <ul>
                                                                        <li><a href="edit-account.html">Edit Account</a></li>
                                                                        <li><a href="public-profile.html">Public profile</a></li>
                                                                        <li><a href="sales.html">My Sales</a></li>
                                                                        <li><a href="messages.html">Messages</a></li>
                                                                        <li><a href="upload-item.html">Upload Item</a></li>
                                                                        <li><a href="downloads.html">Downloads</a></li>
                                                                        <li><a href="login.html">Login & Register</a></li>
                                                                    </ul>
                                                                </div><!-- end box -->
                                                            </div><!-- end col -->
                                                        </div>
                                                    </div><!-- end ttmenu-content -->
                                                    </li>
                                                </ul>
                                            </li><!-- end mega menu -->
                                            <li><a href="forum.html" title="">Forum</a></li>
                                            <li><a href="blog.html" title="">Blog</a></li>
                                            <li><a href="contact.html" title="">Contact</a></li>
                                        </ul>
                                        <ul class="nav navbar-nav navbar-right">
                                            <li class="dropdown membermenu hovermenu">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="/assets/upload/member.png" alt="" class="img-circle"> <span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li class="dropdown-header">Profile</li>
                                                    <li><a href="edit-account.html">Edit Account</a></li>
                                                    <li><a href="#">Logout</a></li>
                                                    <li><hr></li>
                                                    <li class="dropdown-header">Dashboard</li>
                                                    <li><a href="public-profile.html">Public profile</a></li>
                                                    <li><a href="sales.html">My Sales</a></li>
                                                    <li><a href="messages.html">Messages</a></li>
                                                    <li><a href="upload-item.html">Upload Item</a></li>
                                                    <li><a href="downloads.html">Downloads</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div><!-- end navbar-cell -->
                                </div><!-- /.navbar-collapse -->        
                            </div><!-- end navbar cell -->
                        </div><!-- end navbar-table -->
                    </div>
                      <%= link_to "Sign Up", new_user_registration_path %>
       <%= link_to "Sign IN",new_user_session_path %>
       <%= link_to "Sign Out",destroy_user_session_path ,:method => :delete%><!-- end container fluid -->
                </nav><!-- end navbar -->
            </div><!-- end container -->
        </header>

 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>

    <%= yield %>
  <section class="section nopad">
            <div class="container-fluid">    
                <div class="content-message">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 text-center">
                            <h2>See why over 10,000 photographers, artists, graphic designers and app developers trust Catalog.<br> Ready to take your marketplace to the next level?</h2>
                            <a href="#" class="btn btn-primary btn-lg">Join us Today</a>
                        </div>
                    </div><!-- end row -->
                </div><!-- end content message -->
            </div><!-- end container -->
        </section>
      <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-5">
                        <div class="media cen-xs">
                            <p>
                                &copy; Catalog INC. 2016 - All Rights Reserverd.<br>
                                Idea by <a class="madeby" href="http://showwp.com/">Show WP</a> made with <i class="fa fa-heart"></i> coded with <i class="fa fa-html5"></i>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-7">
                        <ul class="list-inline text-right cen-xs">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Site Terms</a></li>
                            <li><a href="#">Copyrights</a></li>
                            <li><a href="#">License</a></li>
                            <li><a href="#">Legal</a></li>
                            <li><a class="topbutton" href="#">Back to top <i class="fa fa-angle-up"></i></a></li>
                        </ul>
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </footer><!-- end footer -->
    </div><!-- end wrapper -->
    <!-- END SITE -->

    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/bootstrap.js"></script>
    <script src="/assets/custom.js"></script>
    <script type="text/javascript" src="/assets/jquery.gridrotator.js"></script>
    <script type="text/javascript"> 
            $(function() {
            
                $( '#ri-grid' ).gridrotator( {
                    animSpeed : 300,
                    columns    : 12,
                    animType : 'rotateBottom',
                    w320 : {
                        rows : 3,
                        columns : 4
                    },
                    w240 : {
                        rows : 3,
                        columns : 3
                    },
                    slideshow : false,
                    onhover : true
                } );
            
            });
        </script>
    

  </body>
</html>
